body{
    font-family:'poppins',sans-serif;
    background-color:black;
}
*{
    padding: 0;
    margin: 0;
}
.TIT{
    color: orangered;
    text-align: left;
    display: inline;
}
ul{
    display: inline;
    width: 50px;
    margin-left:60%;
    cursor: pointer;
    
}
li{
    display: inline;
    color: gray; 
    padding: 0px;
}
.HEADs{
    display: block;
    text-align: center;
    color: orangered;
    margin-top:40px;
}
table{
    display: block;
    margin-left:43%;
    margin-top:25px;
    color: white;
    
}

h4{
    text-align: center;
     margin-top:50px;
     color: white;
}
.sub{
    color: blue;
    background-color: antiquewhite;
}
button{
    display: inline-block;
    height:20px;
    width: 50px;
    margin-top:50px;
    margin-left:50%;
   
}
